[submodule "extern/googletest"]
	path = extern/googletest
	url = https://github.com/google/googletest
[submodule "extern/fmt"]
	path = extern/fmt
	url = https://github.com/fmtlib/fmt
[submodule "extern/pybind11"]
	path = extern/pybind11
	url = https://github.com/pybind/pybind11
[submodule "extern/cxxpool"]
	path = extern/cxxpool
	url = https://github.com/Kuree/cxxpool
[submodule "extern/sqlite_orm"]
	path = extern/sqlite_orm
	url = https://github.com/Kuree/sqlite_orm
[submodule "extern/sqlite"]
	path = extern/sqlite
	url = https://github.com/Kuree/sqlite
[submodule "extern/cereal"]
	path = extern/cereal
	url = https://github.com/USCiLab/cereal
