[submodule "extern/googletest"]
	path = extern/googletest
	url = https://github.com/google/googletest
[submodule "extern/slang"]
	path = extern/slang
	url = https://github.com/MikePopoloski/slang
[submodule "extern/fmt"]
	path = extern/fmt
	url = https://github.com/fmtlib/fmt
[submodule "extern/NanoLog"]
	path = extern/NanoLog
	url = https://github.com/Iyengar111/NanoLog
