name: MacOS Test

on: [push]

jobs:
  build:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v2
    - name: Checkout submodules
      shell: bash
      run: |
        auth_header="$(git config --local --get http.https://github.com/.extraheader)"
        git submodule sync --recursive
        git -c "http.extraheader=$auth_header" -c protocol.version=2 submodule update --init --force --recursive --depth=1
    - name: Setup Env
      uses: goanpeca/setup-miniconda@v1
      with:
        auto-update-conda: true
        python-version: 3.7
    - name: Install verilator
      shell: bash
      run: |
          brew install verilator
          verilator --version
    - name: Build and run wheel
      shell: bash -l {0}
      env:
        OS: osx
        PYPI_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
        # miniconda uses 10.9
        MACOSX_DEPLOYMENT_TARGET: 10.9
      run: |
        source ./scripts/ci.sh
    - uses: actions/upload-artifact@v1
      with:
        name: py3.7 wheel
        path: dist/
